### Árvore de Decisão

In [2]:
import pandas as pd
dataset = pd.read_csv('../Bases de dados/credit_data.csv')

In [7]:
dataset.head(), dataset.shape

(   i#clientid        income        age         loan  c#default
 0           1  66155.925095  59.017015  8106.532131          0
 1           2  34415.153966  48.117153  6564.745018          0
 2           3  57317.170063  63.108049  8020.953296          0
 3           4  42709.534201  45.751972  6103.642260          0
 4           5  66952.688845  18.584336  8770.099235          1,
 (1997, 5))

In [5]:
dataset.dropna(inplace=True)
dataset.shape

(1997, 5)

In [6]:
dataset.head()

   i#clientid        income        age         loan  c#default
0           1  66155.925095  59.017015  8106.532131          0
1           2  34415.153966  48.117153  6564.745018          0
2           3  57317.170063  63.108049  8020.953296          0
3           4  42709.534201  45.751972  6103.642260          0
4           5  66952.688845  18.584336  8770.099235          1

In [8]:
# selecionamos as colunas de 1:4 porém a coluna 4 não entrará nessa variável.
X = dataset.iloc[:, 1:4].values
X

array([[6.61559251e+04, 5.90170151e+01, 8.10653213e+03],
       [3.44151540e+04, 4.81171531e+01, 6.56474502e+03],
       [5.73171701e+04, 6.31080495e+01, 8.02095330e+03],
       ...,
       [4.43114493e+04, 2.80171669e+01, 5.52278669e+03],
       [4.37560566e+04, 6.39717958e+01, 1.62272260e+03],
       [6.94365796e+04, 5.61526170e+01, 7.37883360e+03]])

In [9]:
y = dataset.iloc[:, 4].values
y

array([0, 0, 0, ..., 1, 0, 0], dtype=int64)

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression 
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [12]:
resultados_naive_bayes = []
resultados_logistica = []
resultados_randomForest = []

In [16]:
resultados_naive_bayes = []
resultados_logistica = []
resultados_forest = []
for i in range(30):
  X_treinamento, X_teste, y_treinamento, y_teste = train_test_split(X, y, test_size = 0.2,
                                                                    stratify = y, random_state = i)
  naive_bayes = GaussianNB()
  naive_bayes.fit(X_treinamento, y_treinamento)
  resultados_naive_bayes.append(accuracy_score(y_teste, naive_bayes.predict(X_teste)))

  logistica = LogisticRegression()
  logistica.fit(X_treinamento, y_treinamento)
  resultados_logistica.append(accuracy_score(y_teste, logistica.predict(X_teste)))

  random_forest = RandomForestClassifier()
  random_forest.fit(X_treinamento, y_treinamento)
  resultados_forest.append(accuracy_score(y_teste, random_forest.predict(X_teste)))

In [27]:
print(resultados_naive_bayes)
print(resultados_logistica)
print(resultados_forest)

[0.925  0.925  0.9325 0.925  0.92   0.905  0.9175 0.9175 0.9125 0.9325
 0.9225 0.9125 0.935  0.9175 0.925  0.9175 0.9275 0.92   0.9325 0.92
 0.93   0.905  0.9175 0.9325 0.9425 0.9375 0.94   0.92   0.935  0.925 ]
[0.9325 0.91   0.9125 0.9225 0.9075 0.89   0.91   0.9075 0.8775 0.915
 0.9175 0.9    0.925  0.9175 0.9025 0.9125 0.9525 0.91   0.9225 0.9075
 0.925  0.905  0.9075 0.945  0.9225 0.9275 0.9225 0.9175 0.91   0.9   ]
[0.9725, 0.99, 0.9825, 0.995, 0.9775, 0.985, 0.9875, 0.98, 0.975, 0.99, 0.9825, 0.98, 0.975, 0.9875, 0.98, 0.98, 0.985, 0.9825, 0.99, 0.9875, 0.98, 0.9775, 0.9775, 0.98, 0.9875, 0.995, 0.995, 0.9825, 0.9875, 0.9875]

In [22]:
import numpy as np

In [30]:
resultados_naive_bayes = np.array(resultados_naive_bayes)
resultados_logistica = np.array(resultados_logistica)
resultados_forest = np.array(resultados_forest)

In [31]:
resultados_naive_bayes.mean(), resultados_logistica.mean(), resultados_forest.mean()

(0.92425, 0.9145, 0.9838333333333334)