### Árvore de Decisão

In [1]:
import pandas as pd
dataset = pd.read_csv('../Bases de dados/credit_data.csv')

In [2]:
dataset.head(), dataset.shape

(   i#clientid        income        age         loan  c#default
 0           1  66155.925095  59.017015  8106.532131          0
 1           2  34415.153966  48.117153  6564.745018          0
 2           3  57317.170063  63.108049  8020.953296          0
 3           4  42709.534201  45.751972  6103.642260          0
 4           5  66952.688845  18.584336  8770.099235          1,
 (2000, 5))

In [3]:
dataset.dropna(inplace=True)
dataset.shape

(1997, 5)

In [4]:
dataset.head()

   i#clientid        income        age         loan  c#default
0           1  66155.925095  59.017015  8106.532131          0
1           2  34415.153966  48.117153  6564.745018          0
2           3  57317.170063  63.108049  8020.953296          0
3           4  42709.534201  45.751972  6103.642260          0
4           5  66952.688845  18.584336  8770.099235          1

In [5]:
# selecionamos as colunas de 1:4 porém a coluna 4 não entrará nessa variável.
X = dataset.iloc[:, 1:4].values
X

array([[6.61559251e+04, 5.90170151e+01, 8.10653213e+03],
       [3.44151540e+04, 4.81171531e+01, 6.56474502e+03],
       [5.73171701e+04, 6.31080495e+01, 8.02095330e+03],
       ...,
       [4.43114493e+04, 2.80171669e+01, 5.52278669e+03],
       [4.37560566e+04, 6.39717958e+01, 1.62272260e+03],
       [6.94365796e+04, 5.61526170e+01, 7.37883360e+03]])

In [6]:
y = dataset.iloc[:, 4].values
y

array([0, 0, 0, ..., 1, 0, 0], dtype=int64)

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression 
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [8]:
resultados_naive_bayes = []
resultados_logistica = []
resultados_randomForest = []

In [9]:
resultados_naive_bayes = []
resultados_logistica = []
resultados_forest = []
for i in range(30):
  X_treinamento, X_teste, y_treinamento, y_teste = train_test_split(X, y, test_size = 0.2,
                                                                    stratify = y, random_state = i)
  naive_bayes = GaussianNB()
  naive_bayes.fit(X_treinamento, y_treinamento)
  resultados_naive_bayes.append(accuracy_score(y_teste, naive_bayes.predict(X_teste)))

  logistica = LogisticRegression()
  logistica.fit(X_treinamento, y_treinamento)
  resultados_logistica.append(accuracy_score(y_teste, logistica.predict(X_teste)))

  random_forest = RandomForestClassifier()
  random_forest.fit(X_treinamento, y_treinamento)
  resultados_forest.append(accuracy_score(y_teste, random_forest.predict(X_teste)))

In [10]:
print(resultados_naive_bayes)
print(resultados_logistica)
print(resultados_forest)

[0.925, 0.925, 0.9325, 0.925, 0.92, 0.905, 0.9175, 0.9175, 0.9125, 0.9325, 0.9225, 0.9125, 0.935, 0.9175, 0.925, 0.9175, 0.9275, 0.92, 0.9325, 0.92, 0.93, 0.905, 0.9175, 0.9325, 0.9425, 0.9375, 0.94, 0.92, 0.935, 0.925]
[0.9325, 0.91, 0.9125, 0.9225, 0.9075, 0.89, 0.91, 0.9075, 0.8775, 0.915, 0.9175, 0.9, 0.925, 0.9175, 0.9025, 0.9125, 0.9525, 0.91, 0.9225, 0.9075, 0.925, 0.905, 0.9075, 0.945, 0.9225, 0.9275, 0.9225, 0.9175, 0.91, 0.9]
[0.9725, 0.9875, 0.98, 0.995, 0.9775, 0.99, 0.985, 0.9825, 0.975, 0.9875, 0.985, 0.985, 0.975, 0.985, 0.98, 0.9775, 0.985, 0.985, 0.9875, 0.985, 0.9825, 0.9775, 0.9775, 0.985, 0.9875, 0.995, 0.995, 0.9825, 0.985, 0.99]

In [11]:
import numpy as np

In [12]:
resultados_naive_bayes = np.array(resultados_naive_bayes)
resultados_logistica = np.array(resultados_logistica)
resultados_forest = np.array(resultados_forest)

In [13]:
resultados_naive_bayes.mean(), resultados_logistica.mean(), resultados_forest.mean()

(0.92425, 0.9145, 0.984)

In [14]:
import statistics
from scipy import stats
import math

In [15]:
# Moda
stats.mode(resultados_naive_bayes), stats.mode(resultados_logistica), stats.mode(resultados_forest)

(ModeResult(mode=array([0.9175]), count=array([5])),
 ModeResult(mode=array([0.9075]), count=array([4])),
 ModeResult(mode=array([0.985]), count=array([9])))

In [16]:
# Média
np.median(resultados_naive_bayes), np.median(resultados_logistica), np.median(resultados_forest)

(0.925, 0.9125, 0.985)

In [17]:
# Variância
np.set_printoptions(suppress=True)
np.var(resultados_naive_bayes), np.var(resultados_logistica), np.var(resultados_forest)

(8.756250000000001e-05, 0.00020933333333333337, 3.316666666666662e-05)

In [18]:
np.min([(8.756250000000001e-05, 0.00020933333333333337, 3.572222222222224e-05)])

3.572222222222224e-05

In [19]:
np.max([(8.756250000000001e-05, 0.00020933333333333337, 3.572222222222224e-05)])

0.00020933333333333337

In [20]:
# Desvio Padrão
np.std(resultados_naive_bayes), np.std(resultados_logistica), np.std(resultados_forest)

(0.00935748363610645, 0.014468356276140472, 0.005759050847723661)

In [21]:
# Coeficiente de Variação

stats.variation(resultados_naive_bayes) *100, stats.variation(resultados_logistica) * 100, stats.variation(resultados_forest) * 100

(1.0124407504578252, 1.5821056616884057, 0.585269395093868)

### K-FOLD CROS VALIDATION (VALIDAÇÃO CRUZADA)
1. Realiza uma divisão melhor da base de dados para avaliar qual seria o melhor modelo para realização das análises

In [22]:
from sklearn.model_selection import cross_val_score, KFold

In [23]:
resultados_naive_bayes_cv = []
resultados_logistica_cv = []
resultados_forest_cv = []
for i in range(30):
  kfold = KFold(n_splits = 10, shuffle = True, random_state = i)
  
  naive_bayes = GaussianNB()
  scores = cross_val_score(naive_bayes, X, y, cv = kfold)
  resultados_naive_bayes_cv.append(scores.mean())

  logistica = LogisticRegression()
  scores = cross_val_score(logistica, X, y, cv = kfold)
  resultados_logistica_cv.append(scores.mean())
  
  random_forest = RandomForestClassifier()
  scores = cross_val_score(random_forest, X, y, cv = kfold)
  resultados_forest_cv.append(scores.mean())

In [24]:
##Comparando a técnica de validação cruzada com os testes separados

In [25]:
stats.variation(resultados_naive_bayes) *100, stats.variation(resultados_logistica) * 100, stats.variation(resultados_forest) * 100

(1.0124407504578252, 1.5821056616884057, 0.585269395093868)

In [26]:
stats.variation(resultados_naive_bayes_cv) * 100 , stats.variation(resultados_logistica_cv) * 100 , stats.variation(resultados_forest_cv) * 100

(0.08641071566366061, 0.38801026116292653, 0.14508133032691278)

In [27]:
## Exercício

dataset = pd.read_csv('../Bases de dados/credit_data.csv')
dataset.dropna(inplace=True)
dataset

      i#clientid        income        age         loan  c#default
0              1  66155.925095  59.017015  8106.532131          0
1              2  34415.153966  48.117153  6564.745018          0
2              3  57317.170063  63.108049  8020.953296          0
3              4  42709.534201  45.751972  6103.642260          0
4              5  66952.688845  18.584336  8770.099235          1
...          ...           ...        ...          ...        ...
1995        1996  59221.044874  48.518179  1926.729397          0
1996        1997  69516.127573  23.162104  3503.176156          0
1997        1998  44311.449262  28.017167  5522.786693          1
1998        1999  43756.056605  63.971796  1622.722598          0
1999        2000  69436.579552  56.152617  7378.833599          0

[1997 rows x 5 columns]

In [28]:
dataset.describe()

        i#clientid        income          age          loan    c#default
count  1997.000000   1997.000000  1997.000000   1997.000000  1997.000000
mean   1001.956935  45333.864334    40.807559   4445.487716     0.141713
std     576.702206  14325.131177    13.624469   3046.792457     0.348842
min       1.000000  20014.489470   -52.423280      1.377630     0.000000
25%     503.000000  32804.904487    28.990415   1936.813257     0.000000
50%    1002.000000  45788.747100    41.317159   3977.287432     0.000000
75%    1501.000000  57787.565659    52.587040   6440.861434     0.000000
max    2000.000000  69995.685578    63.971796  13766.051239     1.000000